* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-image: url(../images/f701f306-c115-48c3-9183-10589b273c82.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
